<h1> Here is a brand </h1>

<h2><%= @brand.name %></h2>
<p>Year created: <%= @brand.year_created %></p>

<hr>


<h2> List of <%= @brand.name %> cars </h2>
<% @brand.cars.each do |car| %>
    <h2><%= link_to car.name_and_year, car_path(car) %> - <%= car.color %></h2>
<% end %> 



<h3><%= link_to "Edit Brand", edit_brand_path(@brand) %></h3>
<h3><%= link_to "Back to Brand list", brands_path(@brand) %></h3>

<hr>
<h3><%= link_to "Back to Car list", brand_cars_path(@brand) %></h3>

