<h1>Your Car List</h1>
<p> If you want to learn more about a vehicle, click the vehicle name. </p>

<h1>Filter By Color:</h1>
<%= form_tag(cars_path, method: "get") do %>
    <%= collection_select :car, :color, Car.select(:color).distinct, :color, :color, {:include_blank => 'Choose Color'}%>
    <%= submit_tag "Filter"%>
    <% end %>

<%= render partial: "car", collection: @cars %>

<h2><%= link_to "Create New Car", new_car_path(@cars) %></h2>

